<!DOCTYPE html><!--[if IE 7]>
<html lang="en" manifest="cache.manifest" data-ng-app class="no-js ie"></html><![endif]--><!--[if IE 8]>
<html lang="en" manifest="cache.manifest" data-ng-app class="no-js ie"></html><![endif]--><!--[if IE 9]>
<html lang="en" manifest="cache.manifest" data-ng-app class="no-js ie9"></html><![endif]-->
<!--if [(gt IE 9)|!(IE)] <!-->
<html manifest="cache.manifest" data-ng-app class="no-js">
  <!-- <![endif]-->
  <head>
    <meta charset="utf-8">
    <title ng-bind-template="{{title}} | The Title">App Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="App description goes here">
    <meta name="author" content="Authors Name">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900">
    <!--link(rel="shortcut icon", href="/assets/images/favicon.ico", type="image/x-icon")-->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div ng-controller="NavController" class="container-fluid">
        <div class="navbar">
          <div class="navbar-inner"><a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a><a href="/" class="brand">LoGo</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li ng-class="{active : isSelected('home')}"><a href="/" ng-click="setSelected('home')">HOME<span>start here</span></a></li>
                <li ng-class="{active: isSelected('option')}" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">SECOND<b class="caret"></b><span>second option</span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#/option1" ng-click="setSelected('option1')">Option One</a></li>
                  </ul>
                </li>
                <li ng-class="{active: isSelected('three')}"><a href="#/three" ng-click="setSelected('three')">THIRD<span>third option</span></a></li>
                <li ng-class="{active: isSelected('four')}"><a href="#/four" ng-click="setSelected('four')">FOURTH<span>fourth option</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="ng-view"></div>
    <div id="footer">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
            <h3>Section One</h3>
            <p><a href="#"><i class="icon-book"></i> Link One</a></p>
            <p><a ng-href="#"><i class="icon-lock"></i> Link Two</a></p>
            <p><a ng-href="#"><i class="icon-suitcase"></i>  Link Three</a></p>
          </div>
          <div class="span3">
            <h3>Section Two</h3>
            <ul>
              <li>item One</li>
              <li>item Two</li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="span3">
            <h3>Section Three</h3>
            <div class="clear"></div>
          </div>
          <div class="span3">
            <h3>Section Four</h3>
          </div>
        </div>
      </div>
    </div>
    <div id="under-footer">
      <div class="row-fluid">
        <div class="span10">
          <div id="under-footer-copyright">&copy; 2013, Somebody, All rights reserved.
            <div class="credit">site by Someone</div>
          </div>
        </div>
        <div class="span2">
          <div id="under-footer-back-to-top"><a href="#"><i class="icon-chevron-up"></i></a></div>
        </div>
      </div>
    </div>
    <script src="config.js"></script>
    <script data-main="app" src="assets/js/components/requirejs/require.js"></script>
  </body>
</html>