
.DS_Store

client/dist/*

node_modules/*

client/test-reports/*

client/docs/*

client/assets/js/components/*

client/assets/templates/*

client/cache.manifest

client/spec-runner.html

.idea/*

*.iml