#footer
  .container-fluid
    .row-fluid
      .span3
        h3 Section One
        p
          a(href="#")
            i.icon-book
            |  Link One
        p
          a(ng-href="#")
            i.icon-lock
            |  Link Two
        p
          a(ng-href="#")
            i.icon-suitcase
            |   Link Three

      .span3
        h3 Section Two
        ul
          li item One
          li item Two

        .clear

      .span3

        h3 Section Three
        .clear

      .span3

        h3 Section Four