#under-footer
  .row-fluid
    .span10
      #under-footer-copyright &copy; 2013, Somebody, All rights reserved.
        .credit site by Someone

    .span2
      #under-footer-back-to-top
        a(href="#")
          i.icon-chevron-up