!!! 5
//if IE 7
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 8
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 9
  html(lang="en", class="no-js ie9", data-ng-app="main", id="ng-app")
//if [(gt IE 9)|!(IE)] <!
html(class="no-js", ng-app="main")
  // <![endif]
  head
    meta(charset="utf-8")
    title(ng-bind-template="{{title}} | The Title") App Title
    base(href="/")
    meta(name="viewport", content="width=device-width, user-scalable=no, maximum-scale=1, minimum-scale=1")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    meta(name="description", content="Application Description Goes Here")

    meta(property="og:title", content="")
    meta(property="og:description", content="")
    meta(property="og:type", content="")
    meta(property="og:url", content="")
    meta(property="og:image", content="")

    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900")
    link(href="/assets/css/style.css", rel="stylesheet", type="text/css")
    link(rel="apple-touch-icon", href="/assets/img/apple-app-icon.png")

  body(ng-cloak)

    .footer-wrapper
      .header
        .container-fluid
          .navbar.navbar-static-top(ng-controller="NavController")
            ul.nav
              li(data-match-route="/")
                a(href="#") HOME

              li
                a(bs-dropdown="dropdown") 
                  | SECOND 
                  b.caret

              li(ng-click="$state.transitionTo('main.three')")
                a THIRD

              li(ng-click="$state.transitionTo('main.four')")
                a FOURTH

      .container
        .ui-view

    .footer
      .row
        .col-12
          .footer-copyright.pull-right &copy; 2013, Somebody Cool, All rights reserved.

    include ../templates/scripts